.user-list {
    ul {
        max-width: 300px;
        list-style-type: none;
        margin: 0;
        padding: 5px 10px;
        max-height: 190px;
        overflow: scroll;
        overflow-x: hidden;

        .selected {
            &::after{
                content: "✔️";
                padding-left: 10px;
            }
        }
        

        li {
            max-width: 320px;
            font-weight: 700;
            padding-bottom: 6px;
            

            &:hover {
                cursor: pointer;
            }

            
            
            
        }
    }
    
}